<div class="card-columns mt-3">
    <div *ngFor="let band of myBands" class="card">
      <div class="card-body ">
        <h5 class="card-title text-center">{{band.name}}</h5>
        <p class="card-text text-center">{{band.place}}, {{band.year}}</p>
        <a [routerLink]="['/banda',band.id]" class="btn btn-outline-info">Ver más...</a>
        <button class="btn btn-outline-danger btn-sm float-right float-bottom mt-1" type="button" (click)="removeBand(band.id)"><span class="glyphicon glyphicon-trash"></span>
        Eliminar 
         </button>
            </div>
    </div>
  </div>
  <hr>
  <div class="mt-4">
    <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Añadir nueva banda
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
    
            <app-new-band></app-new-band>    
        </div>
      </div>
  
  </div>
  