<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="bandas">
        <img src="./../../../../assets/img/electric-guitar.png" width="30" height="30" class="d-inline-block align-top mr-2">
        Mis bandas de ROCK!
    </a>
    <ul class=" mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar banda">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
    </form>
</nav>