<form (ngSubmit)="save(form)" #form="ngForm">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom01">Nombre de la banda *</label>
            <input type="text" class="form-control" placeholder="" name="name" ngModel
                [class.is-invalid]="name.invalid && name.touched" required #name="ngModel">
            <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                Por favor, inserte el nombre de la banda
            </div>
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col-md-3 ">
            <label>Lugar de creación *</label>
            <input type="text" class="form-control" type="text" placeholder="" name="place" ngModel
                [class.is-invalid]="place.invalid && place.touched" required #place="ngModel">
            <div *ngIf="place.invalid && place.touched" class="invalid-feedback">
                Por favor, inserte lugar de origen de la banda
            </div>
        </div>
        <div class="col-md-1"></div>
            <div class="col-md-2">
            <label>Año de creación *</label>
            <input type="text" class="form-control" type="number" placeholder="" name="year" ngModel
                [class.is-invalid]="year.invalid && year.touched" #year="ngModel" required minlength="4" maxlength="4">
            <div *ngIf="year.invalid && year.touched" class="invalid-feedback">
                Este campo debe tener 4 cifras
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label> Información de la banda *</label>
            <textarea class="form-control" rows="3" name="info" ngModel
                [class.is-invalid]="info.invalid && info.touched" #info="ngModel" required></textarea>
            <div *ngIf="info.invalid && info.touched" class="invalid-feedback">
                Por favor, introduzca la información de la banda
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Añadir</button>
</form>